body { 
    background-color: #90C7E3;
    color: #666666;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    background-color: #FFFFFF;
}

main {
    padding-left: 1em;
    padding-right: 1em;
    display: block;
}

header { 
    background-color: #002171; 
    color: #FFFFFF;
    font-family: Georgia, sans-serif;
    background-image: url(sunset.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding: 1em;
}

h1 {  
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

h2 { 
    color: #1976D2;
    font-family: Georgia, serif;
}

nav { 
    font-size: 1.2em;
    text-align: center;
    background-color: #FFFFFF;
}

nav a:link { color: #5C7FA3; }
nav a:visited { color: #344873; }
nav a:hover { color: #A52A2A; }

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

nav li {
    padding: .5em 1em;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

footer { 
    background-color: #FFFFFF;
    text-align: center;
    font-size: .70em;
    font-style: italic;
    padding: 1em;
}

#homehero {
    background: url(coast.jpg) no-repeat;
    background-size: 200% 100%;
    height: 300px;
}

#yurthero {
    background: url(yurt.jpg) no-repeat;
    background-size: 200% 100%;
    height: 300px;
}

#trailhero {
    background: url(trail.jpg) no-repeat;
    background-size: 200% 100%;
    height: 300px;
}

#reshero {
    background: url(ocean.jpg) no-repeat;
    background-size: 200% 100%;
    height: 300px;
}

section {
    padding-left: .5em;
    padding-right: .5em;
}

#mobile { display: inline; }
#desktop { display: none; }

header a:link,
header a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

header a:hover {
    color: #90C7E3;
}

* { box-sizing: border-box; }

table {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #3399CC;
    border-collapse: collapse;
    font-size: 0.95em;
}

td, th {
    padding: 8px;
    border: 1px solid #3399CC;
}

td { text-align: center; }

.text { text-align: left; }

tr:nth-of-type(even) {
    background-color: #E1F1FA;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
}

input, textarea {
    margin-bottom: .5em;
}

@media (min-width: 600px) {

    h1 {
        font-size: 2em;
        letter-spacing: .25em;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        padding-right: 2em;
    }

    nav li {
        width: 12em;
        border-bottom: none;
    }

    section {
        padding-left: 2em;
        padding-right: 2em;
    }

    #flow {
        display: flex;
    }

    #mobile { display: none; }
    #desktop { display: inline; }

    #homehero, #yurthero, #trailhero, #reshero {
        background-size: 100% 100%;
    }

    form {
        width: 60%;
        display: grid;
        grid-template-columns: 10em 1fr;
        grid-gap: 1em;
    }

    #mySubmit {
        grid-column: 2;
        width: 9em;
    }
}

@media (min-width: 1024px) {

    body {
        background-image: linear-gradient(
            to bottom,
            #FFFFFF 35%,
            #90C7E3 75%,
            #FFFFFF 100%
        );
    }

    nav ul {
        padding-left: 10%;
        padding-right: 10%;
    }

    #wrapper {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    }
}