body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

nav {
    background: #c73131;
    padding: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffcc00;
}

h1 {
    text-align: center;
    margin-top: 50px;
}